<div class="div-main">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="example-form">
      <section class="section-input">
        <mat-form-field class="example-full-width" appearance="outline" required>
          <mat-label>Colaborador</mat-label>
          <mat-select formControlName="develop">
            <mat-option *ngFor="let developer of developers" [value]="developer">
              {{developer}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" required>
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder="Digite aqui" formControlName="description" id="description" >
          </textarea>
        </mat-form-field>
      </section>
  
      <div class="div-buttons">
        <button id="button-save" mat-button type="submit">Salvar</button>
        <button id="button-cancel" mat-button mat-dialog-close>Cancelar</button>
      </div>
    </form>
  </div>