<div class="div-main">
    <div class="div-header">
        <h1>Bem vindo {{ this.userName }}</h1>
    </div>
    <div class="div-tab">
    <mat-tab-group>
        <mat-tab label="Backlog">
            <app-user-backlog></app-user-backlog>
        </mat-tab>
        <mat-tab label="Em andamento">
          <app-user-active></app-user-active>
        </mat-tab>
        <mat-tab label="Finalizada">
          <app-user-finished></app-user-finished>
        </mat-tab>
    </mat-tab-group>
    </div>
</div>